@{
    @using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer
}

<div class="text-center">
    <h1 class="display-4">@Localizer["ProjectZap"]</h1>
    <h2>@Localizer["SubTitle"]</h2>

    <p>
        @Localizer["DemoMessage"]
    </p>
</div>
