@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Project ZAP</h1>
    <h2>The emergency shift management system</h2>

    <p>
        To get started Sign up using "123456" as the Registration Code to become a new Manager at Contoso!
    </p>
</div>
