# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: Bash@3
  displayName: 'Build sln'
  inputs:
    targetType: 'inline'
    script: 'dotnet build'

- task: Bash@3
  displayName: 'Run tests'
  inputs:
    targetType: 'inline'
    script: 'dotnet test -c $(buildConfiguration) -l trx'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'XUnit'
    testResultsFiles: '**/TestResults/*.trx'